.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100px 200px 400px 100px;
        grid-template-rows: 100px 200px 400px 100px;
    grid-auto-columns: repeat(3, 1fr) 200px;
    grid-gap: 30px;
    width: 1000px;
    margin: 30px auto;
}

.container * {
    background-color: red;
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

header {
    grid-column: 1 / 5;
}

aside {
    grid-column: 4 / 5;
    -ms-grid-row-span: 2;
    -ms-grid-row: 2;
        grid-row: 2 / span 2;
}

main {
    -ms-grid-column-span: 3;
    -ms-grid-column: 1;
        grid-column: 1 / span 3;
}

footer {
    grid-column: 1 / 5;
}